# Midterm Assignment

### Import necessary libraries

In [41]:
import pandas as pd
import os
from lets_plot import *
LetsPlot.setup_html()

### Read the datasets

In [42]:
all_files = [file for file in os.listdir('../data/waitrose') if file.endswith('.csv')]

all_files

['baby-child-and-parent.csv',
 'bakery.csv',
 'beer-wine-and-spirits.csv',
 'best-of-british.csv',
 'dietary-and-lifestyle.csv',
 'everyday-value.csv',
 'food-cupboard.csv',
 'fresh-and-chilled.csv',
 'frozen.csv',
 'home.csv',
 'household.csv',
 'new.csv',
 'organic-shop.csv',
 'pet.csv',
 'summer.csv',
 'tea-coffee-and-soft-drinks.csv',
 'toiletries-health-and-beauty.csv',
 'waitrose-brands.csv']

In [43]:
files = []

for i in all_files:
    f = f'../data/waitrose/{i}'
    files.append(f)

files

['../data/waitrose/baby-child-and-parent.csv',
 '../data/waitrose/bakery.csv',
 '../data/waitrose/beer-wine-and-spirits.csv',
 '../data/waitrose/best-of-british.csv',
 '../data/waitrose/dietary-and-lifestyle.csv',
 '../data/waitrose/everyday-value.csv',
 '../data/waitrose/food-cupboard.csv',
 '../data/waitrose/fresh-and-chilled.csv',
 '../data/waitrose/frozen.csv',
 '../data/waitrose/home.csv',
 '../data/waitrose/household.csv',
 '../data/waitrose/new.csv',
 '../data/waitrose/organic-shop.csv',
 '../data/waitrose/pet.csv',
 '../data/waitrose/summer.csv',
 '../data/waitrose/tea-coffee-and-soft-drinks.csv',
 '../data/waitrose/toiletries-health-and-beauty.csv',
 '../data/waitrose/waitrose-brands.csv']

In [44]:
df = pd.concat(pd.read_csv(file) for file in files)

In [45]:
df.shape

(25418, 13)

In [46]:
df.head()

,data-product-id,data-product-name,data-product-type,data-product-on-offer,data-product-index,image-url,product-page,product-name,product-size,item-price,price-per-unit,offer-description,category
0,525635,Organix Raspberry & Apple Soft Oaty Bars,G,False,1.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Raspberry & Apple Soft Oaty Bars,6x23g,£3.15,£2.29/100g,NaN,"Baby, Child & Parent"
1,557746,Organix Carrot Cake Oaty Bars,G,False,2.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Carrot Cake Oaty Bars,6x23g,£3.15,£2.29/100g,NaN,"Baby, Child & Parent"
2,32062,Aptamil 2 Follow On Milk,G,False,394.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/aptamil...,Aptamil 2 Follow On Milk,800g,£13.50,£16.88/kg,NaN,"Baby, Child & Parent"
3,767801,Essential Baby Wipes,G,False,4.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/essenti...,Essential Baby Wipes,80s,95p,1.2p each,NaN,"Baby, Child & Parent"
4,514054,Organix Apple Rice Cakes,G,False,5.0,https://ecom-su-static-prod.wtrecom.com/images...,https://www.waitrose.com/ecom/products/organix...,Organix Apple Rice Cakes,40g,£1.60,£4/100g,NaN,"Baby, Child & Parent"

### Data preprocessing

In [47]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 25418 entries, 0 to 1593
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   data-product-id        25418 non-null  int64
 1   data-product-name      25418 non-null  object
 2   data-product-type      25418 non-null  object
 3   data-product-on-offer  25418 non-null  bool
 4   data-product-index     25408 non-null  float64
 5   image-url              25418 non-null  object
 6   product-page           25418 non-null  object
 7   product-name           25407 non-null  object
 8   product-size           25363 non-null  object
 9   item-price             25407 non-null  object
 10  price-per-unit         24976 non-null  object
 11  offer-description      7201 non-null   object
 12  category               25418 non-null  object
dtypes: bool(1), float64(1), int64(1), object(10)
memory usage: 19.8 MB

#### Rename the columns

In [48]:
df = (
    df.rename(columns = {
        'data-product-id':'id',
        'data-product-on-offer':'offer',
        'product-page':'page',
        'product-name':'name',
        'product-size':'size',
        'item-price':'price',
        'data-product-name':'data_product_name',
        'price-per-unit':'price_per_unit',
        'data-product-type':'product_type',
        'data-product-index':'product_index'
    })
)

#### Drop unwanted columns

In [49]:
df = df.drop(columns = ['image-url','page','offer-description','data_product_name','product_type','product_index'])

In [50]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 25418 entries, 0 to 1593
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              25418 non-null  int64
 1   offer           25418 non-null  bool
 2   name            25407 non-null  object
 3   size            25363 non-null  object
 4   price           25407 non-null  object
 5   price_per_unit  24976 non-null  object
 6   category        25418 non-null  object
dtypes: bool(1), int64(1), object(5)
memory usage: 8.7 MB

#### id (`int64` into `int32`) and category (`object` into `category`)

In [51]:
df.drop_duplicates(inplace=True)

In [52]:
df.shape

(25378, 7)

In [53]:
df['id'] = df['id'].astype('int32')
df['category'] = df['category'].astype('category')
#df['product_type'] = df['product_type'].astype('category')

In [54]:
category_counts = df.groupby('name')['category'].nunique()
category_counts

name
019521 - Essential Flageolet Beans in Water      3
035738 - Solero Exotic Ice cream Lolly           3
044889 - Essential Double Cream Large            2
060167 - Kronenbourg 1664 Cans                   1
086143 - Cooks' Ingredients Garlic               3
                                                ..
£100,000 a Month for a Year Scratchcard          1
Öpso Japanese Sakura Tree Reed Diffuser          2
Öpso Mediterranean Citrus Grove Reed Diffuser    2
Öpso Nordic Birch Forest Reed Diffuser           2
Ürziger Würzgarten Kabinett Loosen               2
Name: category, Length: 15418, dtype: int64

In [55]:
multi_category_products = category_counts[category_counts > 1].index
multi_category_products[0:5]

Index(['019521 - Essential Flageolet Beans in Water',
       '035738 - Solero Exotic Ice cream Lolly',
       '044889 - Essential Double Cream Large',
       '086143 - Cooks' Ingredients Garlic',
       '10 Mins to Bed Where's Little Dinosaur'],
      dtype='object', name='name')

In [56]:
df['category'] = df.groupby('name')['category'].transform(lambda x: ', '.join(x.unique()))

In [57]:
df

,id,offer,name,size,price,price_per_unit,category
0,525635,False,Organix Raspberry & Apple Soft Oaty Bars,6x23g,£3.15,£2.29/100g,"Baby, Child & Parent"
1,557746,False,Organix Carrot Cake Oaty Bars,6x23g,£3.15,£2.29/100g,"Baby, Child & Parent"
2,32062,False,Aptamil 2 Follow On Milk,800g,£13.50,£16.88/kg,"Baby, Child & Parent, Toiletries, Health & Beauty"
3,767801,False,Essential Baby Wipes,80s,95p,1.2p each,"Baby, Child & Parent, Summer, Toiletries, Heal..."
4,514054,False,Organix Apple Rice Cakes,40g,£1.60,£4/100g,"Baby, Child & Parent, Dietary & Lifestyle"
...,...,...,...,...,...,...,...
1589,18427,False,Duchy Organic British Lamb Half Leg,Typical weight 0.94kg,£24.31 each est.,£26.00/kg,"Best of British, Fresh & Chilled, Organic Shop..."
1590,11606,False,Cooks' Ingredients Wok Oil,250ml,£2.40,96p/100ml,"Food Cupboard, Waitrose Brands"
1591,6903,False,No. 1 Badoz Vacherin Du Haut-Doubs AOP French ...,350g,£10.00,£28.58/kg,"Fresh & Chilled, Waitrose Brands"
1592,6125,False,Cooks' Ingredients White Marzipan,500g,£2.50,£5/kg,"Food Cupboard, Waitrose Brands"
1593,707668,False,Duchy Organic Pinot Grigio Bag in Box,2.25L,£21.49,£7.17/75cl,"Beer, Wine & Spirits, Organic Shop, Summer, Wa..."

In [58]:
df.shape

(25378, 7)

In [59]:
df.drop_duplicates(inplace = True)

In [60]:
df.shape

(16065, 7)

In [61]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16065 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              16065 non-null  int32
 1   offer           16065 non-null  bool
 2   name            16054 non-null  object
 3   size            16028 non-null  object
 4   price           16054 non-null  object
 5   price_per_unit  15713 non-null  object
 6   category        16054 non-null  object
dtypes: bool(1), int32(1), object(5)
memory usage: 5.6 MB

### Data cleansing and change the appropriate data types

In [62]:
def clean_price(price):
    if isinstance(price,str):
        if '£' in price:
            price = price.replace('£','').replace('each est.','').replace('-','').strip()
        elif 'p' in price:
            price = '0.' + price.replace('p','').replace('each est.','').replace('-','').strip()

    return float(price)

In [63]:
df['price'] = df['price'].apply(clean_price)

In [64]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16065 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              16065 non-null  int32
 1   offer           16065 non-null  bool
 2   name            16054 non-null  object
 3   size            16028 non-null  object
 4   price           16054 non-null  float64
 5   price_per_unit  15713 non-null  object
 6   category        16054 non-null  object
dtypes: bool(1), float64(1), int32(1), object(4)
memory usage: 4.6 MB

In [65]:
df.head(10)

,id,offer,name,size,price,price_per_unit,category
0,525635,False,Organix Raspberry & Apple Soft Oaty Bars,6x23g,3.15,£2.29/100g,"Baby, Child & Parent"
1,557746,False,Organix Carrot Cake Oaty Bars,6x23g,3.15,£2.29/100g,"Baby, Child & Parent"
2,32062,False,Aptamil 2 Follow On Milk,800g,13.50,£16.88/kg,"Baby, Child & Parent, Toiletries, Health & Beauty"
3,767801,False,Essential Baby Wipes,80s,0.95,1.2p each,"Baby, Child & Parent, Summer, Toiletries, Heal..."
4,514054,False,Organix Apple Rice Cakes,40g,1.60,£4/100g,"Baby, Child & Parent, Dietary & Lifestyle"
5,671670,True,Pampers Baby Wipes,52s,1.50,2.9p each,"Baby, Child & Parent"
6,844281,False,Kendamil First Infant Milk Ready To Feed,250ml,1.20,48p/100ml,"Baby, Child & Parent"
7,847776,True,Ella's Kitchen Puree Prunes,70g,1.00,£1.43/100g,"Baby, Child & Parent, Dietary & Lifestyle, Org..."
8,575652,True,Waterwipes Biodegradable,60s,2.50,4.2p each,"Baby, Child & Parent"
9,704723,False,Waitrose Mini Nappy Sacks,75s,1.00,1.3p each,"Baby, Child & Parent, Waitrose Brands"

In [66]:
'''rep_prod = df.groupby('data_product_name')['category'].nunique()
more_prod = rep_prod[rep_prod>1].index
df = df[(df['data_product_name'].isin(more_prod) & ~df.duplicated(subset = 'data_product_name')) |
         (~df['data_product_name'].isin(more_prod))]'''

"rep_prod = df.groupby('data_product_name')['category'].nunique()\nmore_prod = rep_prod[rep_prod>1].index\ndf = df[(df['data_product_name'].isin(more_prod) & ~df.duplicated(subset = 'data_product_name')) |\n         (~df['data_product_name'].isin(more_prod))]"

In [67]:
'''check = df.groupby('data_product_name')['category'].nunique()
check[check > 1].sum()'''

"check = df.groupby('data_product_name')['category'].nunique()\ncheck[check > 1].sum()"

In [68]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 16065 entries, 0 to 1438
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              16065 non-null  int32
 1   offer           16065 non-null  bool
 2   name            16054 non-null  object
 3   size            16028 non-null  object
 4   price           16054 non-null  float64
 5   price_per_unit  15713 non-null  object
 6   category        16054 non-null  object
dtypes: bool(1), float64(1), int32(1), object(4)
memory usage: 4.6 MB

In [69]:
#df['category_description'] = df['category'].apply(lambda x: 'Essential' if 'Everyday' in str(x) else 'Non-essential')

In [70]:
#least_five = df[df['category_description'] == 'Non-essential'].nsmallest(5,'price')[['name','price','category_description']][::-1]

In [71]:
#least_five

In [72]:
#top_five = df[df['category_description'] == 'Essential'].nlargest(5,'price')[['name','price','category_description']][::-1]

In [73]:
#top_five

In [74]:
# Filter rows based on the given conditions
blu = df[
    df['name'].str.contains('blueberries', case=False, na=False) & 
     (df['category'].str.contains('everyday', case=False, na=False) | 
    ~df['category'].str.contains('everyday', case=False, na=False))
]

- Waitrose 4 Blueberry Pancakes
- Waitrose Mixed Berries
- Essential 4 Blueberry Muffins
- Waitrose Essential Blueberry Wheats
- Benecol Blueberry Yogurt Drinks
- Bonne Maman Blueberry Yogurt
- Waitrose 2 Juicy Blueberry Muffins
- Graze Lemon Blueberry Oat Boosts
- Actimel Immunity Blueberry Live Yogurt Drinks
- nakd. Blueberry Muffin Fruit & Nut Bars Multipack
- Activia Strawberry, Raspberry, Cherry & Blueberry No Added Sugar Gut Health Yogurt Multipack
- Activia Fusion Blueberry Acai Gut Health Yogurts
- St. Dalfour Blueberry Spread

- Jordans Frusli Juicy Blueberries Cereal Bars
- Ella's Kitchen

In [ ]:
blue_remove = ["Ella's Kitchen","Jordans Frusli Juicy Blueberries Cereal Bars","Peaches","Apple"]

blueberries = blu[~blu['name'].str.contains('|'.join(blue_remove), case=False, na=False)]

blu_plot = (
    blueberries.assign(new_price = lambda s: s['price'] / s['size'].str.replace('g','').astype('float') * 1000,
    price= lambda x: x['price'],
    size = lambda x: x['size'])
)



blu_plot[['name','price','size','new_price']]

                                      name  price  size  new_price
25                    Waitrose Blueberries   2.50  150g  16.666667
34                   Essential Blueberries   2.00  150g  13.333333
42               Duchy Organic Blueberries   2.50  125g  20.000000
60                    Waitrose Blueberries   4.60  360g  12.777778
66                    Waitrose Blueberries   3.50  225g  15.555556
101           Essential Frozen Blueberries   2.35  400g   5.875000
2623            Waitrose Dried Blueberries   3.95  100g  39.500000
3927  Urban Fruit Gently Baked Blueberries   2.75   75g  36.666667
2789           No.1 Speciality Blueberries   3.80  225g  16.888889

In [86]:
group_blue = blu_plot.groupby('name')['new_price'].mean().sort_values(ascending=False).to_frame().reset_index()
group_blue

                                   name  new_price
0            Waitrose Dried Blueberries  39.500000
1  Urban Fruit Gently Baked Blueberries  36.666667
2             Duchy Organic Blueberries  20.000000
3           No.1 Speciality Blueberries  16.888889
4                  Waitrose Blueberries  15.000000
5                 Essential Blueberries  13.333333
6          Essential Frozen Blueberries   5.875000

In [36]:
milk = df[df['category'].str.contains('baby', case = False,na=False) & df['name'].str.contains('blueberry', case = False,na=False)]

In [37]:
#combined = pd.concat([top_five,least_five])

In [38]:
#combined = combined[::-1]

In [ ]:
(
    ggplot(group_blue, aes(x='name', y='new_price')) +
    geom_line(color='blue', size=1.2) +
    labs(
        title='Price of Blueberries by Name',
        x='Product Name',
        y='Price ($)'
    ) +  
    theme(
        axis_text_x=element_text(hjust=1),  
        plot_title=element_text(size=14, face='bold')  
    ) + ggsize(600, 800)
)